# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List the commnly used libraries used by Data Science
* List examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:

1. R language
2. SQL
3. Python

## Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. NymPy
3. SciPy
4. PyTorch

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author
Elnaz Khankhaje